<section id="top">
    <div class="jumbotron">
        <div class="container">
            <h2>About Us</h2>
            <p class="lead">
                The Java Users Group has been in continuous operation since February 2001 and is a forum for discussing beginner, intermediate, and advanced level Java programming.
                Topics will primarily focus on useful/practical applets and applications, frameworks, object-oriented programming, and software design issues.
            </p>
            <p class="lead">
                Source code reviews will be from Java-related APIs (<a href="http://spring.io/" target="_blank">Spring</a>, <a href="http://www.groovy-lang.org/" target="_blank">Groovy</a>, JAF, JSF, etc.) developed by our own members or from outside IT professionals.
                We have evolved over the years to include reviews of JavaScript-related topics such as <a href="http://www.meteor.com/" target="_blank">Meteor</a>, <a href="https://www.angularjs.org/" target="_blank">AngularJS</a>, and <a href="https://www.rust-lang.org/" target="_blank">Rust</a>.
            </p>
            <p class="lead">
                All meetings are held every <b>second Tuesday</b> of the month at the <a href="http://www.scotchplainsrescuesquad.com/" target="_blank">Scotch Plains Rescue Squad</a> second floor meeting hall starting promptly at <b>7:30pm</b>.
            </p>
            <p class="lead">
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#leadership">leadership</a>
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#agenda">agenda</a>
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#about-mike">about mike</a>
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#about-barry">about barry</a>
                <span class="glyphicon glyphicon-leaf"></span>
            </p>
        </div>
    </div>
</section>

<section id="leadership">
    <div class="jumbotron">
        <div class="container">
            <h2>Leadership <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">
            <table class="table table-hover">
                <tr>
                    <td>Chair</td>
                    <td><a href="#about-mike">Mike Redlich</a></td>
                </tr>
                <tr>
                    <td>Vice Chair</td>
                    <td><a href="#about-barry">Barry Burd</a></td>
                </tr>
                <tr>
                    <td>Vice Chair (emeritus)</td>
                    <td>Paul Furbacher</td>
                </tr>
            </table>
            </p>
        </div>
    </div>
</section>

<section id="agenda">
    <div class="jumbotron">
        <div class="container">
            <h2>Agenda <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">
            <table class="table table-hover">
                <tr>
                    <td>Random Access</td>
                    <td>7:30-8:00pm</td>
                </tr>
                <tr>
                    <td>Java Q&amp;A and/or short Java API Presentation (optional)</td>
                    <td>8:00-8:15pm</td>
                </tr>
                <tr>
                    <td>Main Presentation</td>
                    <td>8:15-10:00pm</td>
                </tr>
            </table>
            </p>
        </div>
    </div>
</section>

<section id="about-mike">
    <div class="jumbotron">
        <div class="container">
            <h2>About Mike <a href="http://www.twitter.com/mpredli" target="_blank"><img src="/images/twitter-circle-128.png" width="30" height="30" alt="Twitter Icon" title="Twitter Icon"/></a> <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <div class="row h100">
                <div class="col-md-5">
                    <img src="/images/mike-redlich.jpg" width="400" height="300" alt="Mike" title="Mike"/>
                </div>
                <div class="col-md-7">
                    <p class="lead">
                        Mike has been facilitating the ACGNJ Java Users Group since its inception in February 2001.
                        He currently also serves on the ACGNJ Board of Directors as President.
                        Mike is a Senior Research Technician at a petrochemical research organization in Clinton, New Jersey.
                        Mike has co-authored numerous <a href="http://redlich.net/publications/#javaboutique" target="_blank">articles</a> with Barry and has presented at numerous venues including the annual <a href="http://www.tcf-nj.org/" target="_blank">Trenton Computer Festival</a> and the annual <a href="http://www.phillyemergingtech.com/" target="_blank">Emerging Technologies for the Enterprise</a> Conference.
                        For more detailed information about Mike, please visit his <a href="http://about.me/mpredli" target="_blank">about.me</a> page and his personal web site, <a href="http://www.redlich.net/" target="_blank">redlich.net</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-barry">
    <div class="jumbotron">
        <div class="container">
            <h2>About Barry <a href="http://www.twitter.com/barryburdtweets" target="_blank"><img src="/images/twitter-circle-128.png" width="30" height="30" alt="Twitter Icon" title="Twitter Icon"/></a> <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <div class="row h100">
                <div class="col-md-5">
                    <img src="/images/barry-burd.jpg" width="400" height="300" alt="Barry" title="Barry"/>
                </div>
                <div class="col-md-7">
                    <p class="lead">
                        Barry has been a regular attendee and frequent contributor of the ACGNJ Java Users Group since May 2003.
                        He is a Professor of Math and Computer Science at <a href="http://www.drew.edu/" target="_blank">Drew University</a> in Madison, New Jersey.
                        Barry has written numerous books (including <a href="http://www.amazon.com/Java-Dummies-Barry-Burd/dp/1118407806/ref=sr_1_3?ie=UTF8&qid=1444610526&sr=8-3&keywords=java+for+dummies" target="_blank">Java for Dummies</a> and <a href="http://www.amazon.com/Android-Application-Development-All--Dummies/dp/1118973801/ref=sr_1_1?s=books&ie=UTF8&qid=1444610654&sr=1-1&keywords=android+all-in-one" target="_blank">Android Application Development All-in-One For Dummies</a>) and has presented at numerous venues including the annual <a href="http://www.tcf-nj.org/" target="_blank">Trenton Computer Festival</a> and the annual <a href="http://droidcon.nyc/2015/" target="_blank">Droidcon NYC</a> Conference.
                        For more detailed information about Barry, please visit his personal web site, <a href="http://www.burd.org/" target="_blank">burd.org</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
