<div class="jumbotron">
    <div class="container">
        <h2>Source Code Archive</h2>
        <p class="lead">
            The source code archive is a repository of zip files containing source code and the necessary build files (<code>build.xml</code>, <code>build.gradle</code>, SQL scripts, etc.), for most of the monthly meetings.
            Each zip file corresponds to a monthly meeting, and is named with the format, <code>jsigγγμμ.zip</code>, where <code>γγ</code> represents the two-digit year and <code>μμ</code> represents the two-digit month.
            Each monthly meeting has its own <a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a> project and has been built with <a href="http://ant.apache.org/" target="_blank">Ant</a> and/or <a href="https://gradle.org/" target="_blank">Gradle</a> , both Java-based build tools for compiling and running Java applications (and a whole lot more).
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <p class="lead">
            This section currently under construction as all of the source code is being reorganized an will ultimately reside on Gitbub.
        </p>
        <p>
            <a class="btn btn-outline-inverse btn-lg" href="#"><i class="fa fa-github"></i> Code on Github</a>
        </p>
    </div>
</div>
