<div class="jumbotron">
    <div class="container">
        <h2>Contributors</h2>
        <p class="lead">We acknowledge the following companies as our contributors as they have provided resources to our members over the years.</p>
    </div>
</div>

<div class="jumbotron">
    <table class="table table-hover">
        <tr>
            <td>Contributor</td>
            <td>Location</td>
        </tr>
        <tr ng-repeat="contributor in contributors">
            <td><a href="/contributors/{{contributor._id}}">{{ contributor.contributor }}</a></td>
            <td>{{ contributor.city }}, {{ contributor.state }}</td>
        </tr>
    </table>
</div>
