<section id="top">
    <div class="jumbotron">
        <div class="container">
            <h2>Welcome to ACGNJ Java Users Group</h2>
            <p class="lead">In continuous operation since February 2001</p>
            <p class="lead">Facilitated by <a href="http://www.redlich.net/" target="_blank">Mike Redlich</a></p>
            <p class="lead">
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#next-meeting">next meeting</a>
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#upcoming-events">upcoming events</a>
                <span class="glyphicon glyphicon-leaf"></span>
                <a href="#previous-meeting-november">november 2015</a>
                <span class="glyphicon glyphicon-leaf"></span>
            </p>
            <!-- <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-info">about us</button>
                <button type="button" class="btn btn-info" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a href="#next-meeting">next meeting</a></li>
                    <li role="menuitem"><a href="#previous-meeting-november">november 2015</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#previous-meeting-october">october 2015</a></li>
                    <li role="menuitem"><a href="#upcoming-events">upcoming events</a></li>
                    <li role="menuitem"><a href="#built-with">built with</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</section>

<section id="next-meeting">
    <div class="jumbotron">
        <div class="container">
            <h2>Next Meeting <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">Tuesday, December 8, 2015</p>
            <p class="lead"><h3>Processing JSON with Java</h3></p>
            <p class="lead">Presented by Mike Redlich</p>
            <p class="lead">
                JavaScript Object Notation, i.e., JSON, is an open standard format that uses human-readable text to transmit data objects consisting of key–value pairs.
                Here is an example:
            </p>
                <pre>
                <code>
                    {
                    "lastName": "Redlich",
                    "firstName: "Michael",
                    "address":
                        {
                        "streetAddress": "123 Anywhere Street",
                        "city": "Flemington"
                        },
                    "state": "New Jersey",
                    "phoneNumber":
                        [{
                        "type": "home",
                        "number": "(908) 000-0000"
                        },
                        {
                        "type": "cell",
                        "number": "(908) 000-0000"
                        }]
                    }
                </code>
                </pre>
            <p class="lead">
                JSON is used in a wide variety of applications so processing is, of course, a necessity.
                We will review three applications for processing JSON:
                <ul class="nav-header">
                    <li><a href="https://code.google.com/p/json-simple/" target="_blank">json-simple</a></li>
                    <li><a href="http://wiki.fasterxml.com/JacksonHome" target="_blank">Jackson</a></li>
                    <li><a href="https://github.com/google/gson" target="_blank">gson</a></li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section id="previous-meeting-november">
    <div class="jumbotron">
        <div class="container">
            <h2>Previous Meeting <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">Tuesday, November 10, 2015</p>
            <p class="lead"><h3>Building Web Apps with Meteor and AngularJS</h3></p>
            <p class="lead">Presented by Mike Redlich</p>
            <p class="lead">
                The folks at <a href="http://www.angularjs.org/" target="_blank">AngularJS</a> and <a href="http://www.meteor.com/" target="_blank">Meteor</a> have teamed up to create a <a href="http://www.angular-meteor.com/" target="_blank">library</a> for developers to create stunning web apps utilizing both technologies.
                Advantages include:
            </p>
            <ul class="nav-header">
                <li>Model-View-Controller (MVC) and Model-View-ViewModel (MVVM) structure on the client</li>
                <li>Best real time backend for AngularJS</li>
                <li>Super easy, real-time integration with the database</li>
                <li>Full stack and open source</li>
                <li>Easy deployment</li>
            </ul>
            <p>
                This presentation will demonstrate how to build a new web app by starting with some basics and then adding functionality along the way.
            </p>
        </div>
    </div>
</section>

<section id="previous-meeting-october">
    <div class="jumbotron">
        <div class="container">
            <h2>Previous Meeting <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">Tuesday, October 13, 2015</p>
            <p class="lead"><h3>Technical Overview of Amazon Echo</h3></p>
            <p class="lead">Presented by Barry Burd</p>
            <p class="lead">
                Echo is Amazon's entry in the intelligent voice-enabled assistant market.
                Unlike Siri or Google Now, Echo isn't mobile.
                Echo stays plugged into an outlet in your home.
                But Echo is completely hands-free, so you can talk to Echo the way Captain Picard talks to his ship's computer.
                In this presentation, Barry will demonstrate the Echo's capabilities and show you how to develop new capabilities for the Echo device.
                For a preview, click <a href="http://www.theserverside.com/feature/Introducing-Amazon-Echo-Adding-voice-recognition-to-your-Java-programs" target="_blank">here</a>.
            </p>
        </div>
    </div>
</section>

<section id="upcoming-events">
    <div class="jumbotron">
        <div class="container">
            <h2>Upcoming Events <a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <table class="table table-hover">
                <tr>
                    <td>Friday, March 18, 2016</td>
                    <td><a href="http://princetonacm.acm.org/tcfpro/" target="_blank">TCF IT Professional Conference</a></td>
                    <td>The College of New Jersey</td>
                    <td>Ewing, New Jersey</td>
                </tr>
                <tr>
                    <td>Saturday, March 19, 2016</td>
                    <td><a href="http://www.tcf-nj.org/" target="_blank">Trenton Computer Festival</a></td>
                    <td>The College of New Jersey</td>
                    <td>Ewing, New Jersey</td>
                </tr>
                <tr>
                    <td>Monday & Tuesday, April 11-12, 2016</td>
                    <td><a href="http://phillyemergingtech.com/" target="_blank">Emerging Technologies for the Enterprise</a></td>
                    <td>Society Hill Sheraton</td>
                    <td>Philadelphia, Pennsylvania</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section id="built-with">
    <div class="jumbotron">
        <div class="container">
            <h2><a href="#top" class="glyphicon glyphicon-hand-up"></a></h2>
            <p class="lead">Built with <a href="http://www.meteor.com/" target="_blank"><img src="/images/meteor-logo.png" alt="Meteor Logo" title="Meteor Logo"/></a> and <a href="http://www.angularjs.org/" target="_blank"><img src="/images/angularjs-logo.png" alt="Angular Logo" title="Angular Logo"/></a></p>
        </div>
    </div>
</section>

