<div class="jumbotron">
    <div class="row ma-meeting-details-container">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>
                {{ meeting.month }} {{ meeting.year }} Meeting Details
            </h2>
            <table class="table table-hover">
                <tr>
                    <td>Title</td>
                    <td>{{ meeting.title }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ meeting.description }}</td>
                </tr>
            </table>
            <!-- <form class="form-horizontal">
                <div class="form-group">
                    <label>Update Meeting Information</label>
                    <input ng-model="meeting.title" type="text" class="form-control">
                    <input ng-model="meeting.description" type="text" class="form-control">
                </div>
            </form> -->
            <h3 class="ma-map-title">
                Click the map to set the meeting location
            </h3>
            <div class="angular-google-map-container">
                <ui-gmap-google-map center="map.center" events="map.events" zoom="map.zoom">
                    <ui-gmap-marker coords="meeting.location" options="map.marker.options" events="map.marker.events" idkey="meeting._id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>
