<div class="jumbotron">
    <div class="container">
        <h2>Our Sponsor</h2>
        <p class="lead">
            Our sponsor is the <a href="http://www.acgnj.org/" target="_blank">Amateur Computer Group of New Jersey</a> (ACGNJ), a computer user group (club) based in Scotch Plains, New Jersey.
            ACGNJ, founded in May 1975 by <a href="http://libes.com/sol/bio/" target="_blank">Sol Libes</a> , is the oldest computer club still in operation.
            The club is comprised of a number of special interest groups (SIGs) which have meetings throughout the month.
            ACGNJ (along with several other organizations) also sponsors and contributes to produce the annual <a href="http://www.tcf-nj.org/" target="_blank">Trenton Computer Festival</a> (TCF).
        </p>
        <p class="lead">
            <img src="/images/acgnj-logo.png"/>
        </p>
    </div>
</div>

<div class="jumbotron">
    <script type="text/javascript" src="http://webxten.com/static/js/Xtag/xtag.js"></script>
    <div class="container">
        <h2>Upcoming SIG Events</h2>
        <p class="lead">
            Information for each of the SIG events will be displayed within three days of its regularly scheduled time.
            Otherwise, it will look "disabled" and you will merely see the time of the month for which it is scheduled in <span style="color: powderblue;">Powder Blue</span>.
        </p>
        <p>
            This setup is accomplished through defined Xspots via <a href="http://www.webxten.com/" target="_blank">web-X-ten</a>, a cloud-based web content management tool with value added features to make it the easiest and most dynamic way to manage, syndicate, and publish web site content.
            Please visit the <a href="http://www.webxten.com/" target="_blank">web-X-ten</a> web site to learn more and to setup your account today.
        </p>
        <table class="table table-hover table-striped">
            <tr>
                <td class="nav-header" contentProvider="webxten" xTagId="d834d1b9-ffd5-4732-89d9-5657d7fe803f">
                    <span style="color: powderblue;">Board of Directors (Tuesday before the first Friday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="2f90e020-ccae-477e-ae3a-2321f6506e79">
                    <span style="color: powderblue;">Lunics (first Monday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="8cab2275-dbaf-48e9-b6d7-98518ac2f7f0">
                    <span style="color: powderblue;">Main Meeting (first Friday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="2ea0d82a-4982-4c44-8761-d8fae06460ca">
                    <span style="color: powderblue;">Layman&apos; Forum (second Monday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="0b7207bc-8b3d-4046-86e7-3e38aeba8faf">
                    <span style="color: powderblue;">Java Users Group (second Tuesday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="286c6b35-2d97-4f4d-8d46-8728b1c5d8a8">
                    <span style="color: powderblue;">Mobile Devices (second Wednesday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="3d3572b0-6c43-472c-9282-9eb2d10b2567">
                    <span style="color: powderblue;">Computerized Investing (second Thursday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="d63857bb-4066-4503-accf-864fe31a8d8d">
                    <span style="color: powderblue;">New Jersey Gamers (second Friday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="6e44eb59-c87c-4363-b400-01bd3a5fe0ad">
                    <span style="color: powderblue;">Computer Workshop (second Saturday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="4f02fdce-f653-41f8-b38e-9bbc628e43d4">
                    <span style="color: powderblue;">Web Browsers (third Monday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="57c73d0b-4fe3-40f5-b580-8c9f18ca5cbb">
                    <span style="color: powderblue;">C++ Users Group (third Tuesday of the month)</span>
                </td>
            </tr>
            <tr>
                <td contentProvider="webxten" xTagId="e5944354-d57b-4ac5-b4b5-2b8041ee585b">
                    <span style="color: powderblue;">Window Pains (third Friday of the month)</span>
                </td>
            </tr>
        </table>
    </div>
</div>
